@use "../../common/ui/assets/colors";

.breed {
  display: flex;
  gap: 0 50px;
  padding: 50px;
  color: colors.$text-default;

  .breed-img {
    max-width: 350px;
    min-width: 250px;
    width: 100%;

    div {
      width: 100%;

      img {
        width: 100%;
        height: 350px;
      }
    }
  }

  .breed-info {
    h1 {
      font-size: 36px;
      font-weight: 600;
      margin: 0;
    }

    .description {
      font-size: 18px;
      font-weight: 500;
      margin: 25px 0;
    }

    .detail {
      p {
        font-size: 16px;
        font-weight: 500;

        span {
          font-weight: 700;
        }
      }
    }
  }
}

.photos {
  margin-bottom: 150px;

  h2 {
    font-size: 600;
    font-weight: 36px;
    color: colors.$title-brown;
    margin-bottom: 40px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 100%;
      height: 250px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }
}

@media (max-width: 1200px) {
  .breed {
    gap: 0 60px;
    padding: 40px;

    .breed-info {
      h1 {
        font-size: 32px;
      }

      .description {
        font-size: 16px;
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 900px) {
  .breed {
    gap: 0 40px;
    padding: 0px;

    .breed-img {
      max-width: 250px;
      min-width: 150px;

      div {
        img {
          height: 250px;
        }
      }
    }

    .breed-info {
      h1 {
        font-size: 28px;
      }

      .description {
        font-size: 14px;
        margin: 15px 0;
      }

      .detail {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .breed {
    flex-direction: column;

    .breed-img {
      margin: 0 auto 20px;
    }

    .breed-info {
      .detail {
        p {
          font-size: 10px;
        }
      }
    }
  }
}
