@use "../../assets/colors";

.wrapper {
  z-index: 10;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 24px;
  }

  &.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 47px;
    height: 80%;
    background-color: colors.$light-brown;
    transform: translateY(-50%);
    border-radius: 14px;
    z-index: -1;
  }

  &.xs {
    img {
      width: 170px;
      height: 170px;
    }
  }
  &.sm {
    img {
      width: 220px;
      height: 220px;
    }
  }
  &.md {
    img {
      width: 270px;
      height: 270px;
    }
  }
  &.lg {
    img {
      width: 370px;
      height: 370px;
    }
  }
}

@media (max-width: 376px) {
  .wrapper {
    &.sm {
      img {
        width: 134px;
        height: 134px;
      }
    }

    &.highlight::before {
      left: -5px;
    }
  }
}
