@use "../../assets/colors";

.wrapper {
  z-index: 10;
  position: relative;

  img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-radius: 24px;
  }

  &.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 47px;
    height: 80%;
    background-color: colors.$light-brown;
    transform: translateY(-50%);
    border-radius: 14px;
    z-index: -1;
  }
}
