@use "../../../../common/ui/assets/colors";

.form {
  width: 100%;
  margin-top: 50px;
  position: relative;

  input {
    width: 100%;
    padding: 15px 60px 15px 28px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 60px;
    outline: none;
    border: none;
  }

  svg {
    position: absolute;
    top: 1px;
    right: 15px;
    width: 28px;
    fill: colors.$text-default;
    cursor: pointer;
  }

  .list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: colors.$white;
    color: colors.$text-default;
    border-radius: 24px;
    padding: 15px 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      max-height: 220px;
      overflow-y: auto;

      li {
        font-weight: 500;
        font-size: 18px;
        padding: 15px 18px;
        cursor: pointer;
        border-radius: 12px;
        margin-right: 5px;

        &:hover {
          background-color: rgba(151, 151, 151, 0.1);
        }

        a {
          text-decoration: none;
          color: colors.$text-default;
          display: block;
          width: 100%;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: colors.$gray-2;
        border-radius: 24px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: colors.$gray;
        border-radius: 24px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .form {
    margin-top: 20px;

    input {
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) {
  .form {
    input {
      font-size: 14px;
      padding: 10px 35px 10px 15px;
    }

    svg {
      top: -5px;
      right: 5px;
    }
  }
}

@media (max-width: 376px) {
  .form {
    margin: 0;
    border: 1px solid colors.$black;
    border-radius: 60px;

    input {
      padding: 8px 25px 8px 10px;
      font-size: 10px;
    }

    svg {
      width: 15px;
      right: 5px;
      top: -7px;
    }

    &.showModal {
      input {
        padding: 12px 45px 12px 20px;
        font-size: 18px;
      }

      svg {
        width: 30px;
        top: 0;
        right: 10px;
      }
    }
  }
}
