$black: #000;
$text-default: #291507;
$bg-hero: #050709;

$white: #fff;

$brown: #4d270c;
$light-brown: #dec68b;
$title-brown: #291507;

$secondary: #e3e1dc;
$dark-secondary: #7f736a;

$gray: #bdbdbd;
$gray-2: #f2f2f2;

$inactive: #e0e0e0;
$active: #544439;
